---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Item from "../components/Item.astro";
import Navigation from "../components/Navigation.astro";
import FooterReact from "../components/Footer";

const response = await fetch(
  "https://api.eazymock.net/mock/42a5cd6f-404a-429e-96f6-8c720e87b2f1/list"
);
const data = await response.json();
const randomUser = data.data;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navigation />
    <ul>
      {
        randomUser.map((item, index) => {
          return <Item data={item} index={index} />;
        })
      }
      <!-- <Item client:visible data={randomUser[0]} index={0} /> -->
    </ul>
    <FooterReact client:visible />
  </body>
</html>
